In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('enct325.db')

query = "SELECT * FROM users"
result = pd.read_sql(query,conn)
print(result)

conn.close()

    roll_number              full_name  \
0             1         Aarati Ghimire
1             3       AaryamanMaharjan
2             4        Aaryan Adhikari
3             6        Aashutosh Karna
4             7           Aayush Dangi
5            13            Anubhav Jha
6            16          Arustha Thapa
7            18         Ayush Rauniyar
8            20           Bishal Joshi
9            21           Brisha Rimal
10           23     Aayushma Chaudhari
11           24     Dipak Kumar Mandal
12           31           manish hathi
13           32   Mukesh Kumar Mahato
14           42     Preetisha Shrestha
15           51         SANDESH KHADKA
16           54          Saurav Kunwar
17           55           Shine Panday
18           58          Shubham Aryal
19           59         Shubrat Dhital
20           60  siddhanta mani pandey
21           65           Sulav Dangol
22           66       Supreme Adhikari
23           67       Swikrit Parajuli
24           68            Tabita Mali
25           71       Prakash Bhandari
26           72           Sampada K.C.

                                        password_hash
0   scrypt:32768:8:1$uOCUmbrq4onncT5C$e75db8cf7f88...
1   scrypt:32768:8:1$g8uSi6pyJ9O5oChR$98e170b124eb...
2   scrypt:32768:8:1$7VHI8o7HpPj9mx8E$89f12d6f26ed...
3   scrypt:32768:8:1$R29BUQAMd9UU3sX8$2867c87f9a20...
4   scrypt:32768:8:1$6RytgSdhYOHRfwZ6$c860ebe47418...
5   scrypt:32768:8:1$s10E2jA3ad33jVaQ$840688b34567...
6   scrypt:32768:8:1$ELhBKXmTFwsDq0CU$f0ee65a705e0...
7   scrypt:32768:8:1$412KyLxtf4Xz7nzr$28181355297c...
8   scrypt:32768:8:1$IgIW7nofOHT7nYHG$c52b2903f9d6...
9   scrypt:32768:8:1$CKIL3MQ7pl3GxwOT$e60f7b3d0e65...
10  scrypt:32768:8:1$JmRe84F0DbZYaR8u$a2f211bcc615...
11  scrypt:32768:8:1$jaKXseT86GnQloi9$19239ea04e46...
12  scrypt:32768:8:1$pZNsWh451TzTXcUo$443b2fd86159...
13  scrypt:32768:8:1$hGFuwiRbOU3b5tds$d2be131372e2...
14  scrypt:32768:8:1$FRN2ufg8i0m3osKl$247c4ccf292a...
15  scrypt:32768:8:1$E7Q5ehyf5DqbXhTP$52da43b00464...
16  scrypt:32768:8:1$6GZg2fUhlX2x3QPw$22a339552bd1...
17  scrypt:32768:8:1$4SNjHXj86ZtRPjMk$ccef1b6033ef...
18  scrypt:32768:8:1$4MFZUJEQzBLef4Qg$be51cc4cc1eb...
19  scrypt:32768:8:1$Gk4XfZZRPJ5laHrP$580f6f1a47c2...
20  scrypt:32768:8:1$jAANKvgI4ZyKYRDG$e6eeb4043cb2...
21  scrypt:32768:8:1$9ITNGNFyeb91peyT$473a87902d27...
22  scrypt:32768:8:1$KFOPXqteI8Ey5jXn$fa2780471a11...
23  scrypt:32768:8:1$PYOxGsBT43p21rbB$79b5341ceb0f...
24  scrypt:32768:8:1$LTYT5WCUpZSrhxBH$1e3757288e22...
25  scrypt:32768:8:1$kDvKgQPydW5IG6uN$22d7c0082f0f...
26  scrypt:32768:8:1$byxVNOHIGhd08cMu$1c4b78ff89ec...

In [7]:
type(result)

pandas.core.frame.DataFrame

In [9]:
result.to_excel('student.xlsx')

In [15]:
import pandas as pd

df = pd.read_csv('Hhld01_OwnershipOfHouse.csv')

In [17]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,"Table 01: Number of households by type of ownership of housing unit, NPHC 2021",Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Area,NaN,NaN,Total,Type of ownership,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Owned,Rented,Institutional*,Other
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,prov,dist,gapa,provname,dname,gapaname,rowtotal,a_Own,b_Rented,c_Institutnl,d_Other

In [19]:
df.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,"Table 01: Number of households by type of ownership of housing unit, NPHC 2021",Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
838,7,77,5,Sudurpaschim,Kanchanpur,Dodhara Chandani Municipality,9610,9465,84,28,33
839,7,77,6,Sudurpaschim,Kanchanpur,Laljhadi Gaunpalika,4745,4724,10,8,3
840,7,77,7,Sudurpaschim,Kanchanpur,Punarbas Municipality,13626,13244,304,24,54
841,7,77,8,Sudurpaschim,Kanchanpur,Belouri Municipality,11151,10813,269,41,28
842,7,77,9,Sudurpaschim,Kanchanpur,Beldandi Gaunpalika,4701,4661,25,0,15

In [23]:
max_hh_index = df['a_Own'].idxmax()

# Get the full row
max_hh_row = df.loc[max_hh_index]

print(max_hh_row)

KeyError: 'a_Own'

In [ ]:
df_gapa = df.loc[df['gapa'] > 0].copy()